<!DOCTYPE html>  
<html lang="en">  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- styles -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel='stylesheet' href="css/progress-bar.css">
        <style>
            @import url(http://fonts.googleapis.com/css?family=Khula:300,400,700);
            
            *, 
            html, 
            body {
                font-family: 'Khula', sans-serif;
                color: #2c2c2c;
            }
            
            h1 {
                font-size: 42px;
                max-width: 768px;
                margin: 20px auto 10px;
            }
            
            p {
                font-size: 28px;
            }
            
            #map-canvas {
                width: 100%;
                min-height: 450px;
            }
            
            nav {
                height: 20px;
            }
            
            section {
                position: relative;
            }
            
            .cluster {
                background-size: contain;
                color: white;
            }
            
            .overlayContainer {
                width: 100%;
                position: absolute;
                top: 100px;
                left: 0;
                padding: 50px;
                background-color: rgba(255,255,255,0.95);
                text-align: center;
            }
            
        </style>
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script src="https://google-maps-utility-library-v3.googlecode.com/svn-history/r391/trunk/markerwithlabel/src/markerwithlabel.js"></script>
        <script src="js/markerclusterer.js"></script>
        <script src="js/main.js"></script>
        <script>
            (function($) {
                $(window).load(function() {
                    
                    hcm.handleMarkerClick = function() {
                        $('.overlayContainer').html('');
                        $('.overlayContainer').append('<h1>'+this.hospital.hospital_name+'</h1>');
                        
                        if(hcm.qualities.hasOwnProperty(this.hospital.provider_id)) {
                            var perfClass = '';
                            var num = 0;
                            if(hcm.qualities[this.hospital.provider_id].hasOwnProperty('total_performance_score')) {
                                // calculate the class
                                num = Math.round(parseInt(hcm.qualities[this.hospital.provider_id].total_performance_score) / 10);
                                perfClass = 'perf-' + num;
                                var template = '<a href="#"><h2>Total Performance Score</h2></a> \
                                                <div class="progBarCont"> \
                                                    <div class="prog '+perfClass+'" style="width: '+(parseInt(hcm.qualities[this.hospital.provider_id].total_performance_score)).toFixed(0)+'%;"> \
                                                        <div class="progShadow"></div> \
                                                        <div class="progNum">'+(parseInt(hcm.qualities[this.hospital.provider_id].total_performance_score)).toFixed(0)+'</div> \
                                                    </div> \
                                                </div>';
                                $('.overlayContainer').append(template);
                            }
                        }
                        
                        $('.overlayContainer').fadeIn('fast', function() {
                            
                        });
                    };
                    
                    hcm.init();
                    
                    $('.overlayContainer').on('click', function() {
                        $(this).fadeOut('slow', function(evt) {
                            // done
                        });
                    });
                });
            })(jQuery);
        </script>

    </head>
    <body>
        <div class="container-fluid">
            <header class="row">
                <nav class="col-md-12-fluid"></nav>
            </header>
            <main class="row">
                <section class="col-md-12-fluid">
                    <div class="mapContainer">
                        <div id="map-canvas"></div>
                    </div>
                    <div class="overlayContainer">
                        <h1>How's Your Hospital?</h1>
                        <p>Here you'll find hospitals ranked by the government and given a <a href="#">Total Performance Score</a>. You can also find what hospitals charge for some of the most common procedures.</p>
                    </div>
                </section>
            </main>
            <footer class="row">
                
            </footer>
        </div> 
    </body>
</html>

